{% load custom_tags %}
<div class="component" id="title-page-div" style="text-align: center;">
  {% if report.pageTemplate.logoImageID %}<img id="title-logo" src="/images/{{ report.pageTemplate.logoImageID }}">{% endif %}
  {% include 'componentTemplates/Heading.html' %}
  <p class='report-title'>{% if company %}{{ company }}{% else %}{{ engagement.customer.name }}{% endif %}</p>
  <p class='report-subtitle'>{% if assessmentType %}{{ assessmentType }}{% else %}{{ report.name }}{% endif %}</p>
  <p class='report-date'>{{ reportDate|date:"Y/m/d" }}</p>
  <div class='markdown-align-justify'>
    <p style="text-align: center;">
      {% markdown text %}
    </p>
  </div>
</div>
