.markdown-align-justify table {
    width: 100%;
    border-collapse: collapse;
  }
  .markdown-align-justify table td, .markdown-align-justify table th{
    border: 1px solid #000000;
    padding: 3px 4px;
  }
  .markdown-align-justify table tbody td {
    font-size: 13px;
  }
  .markdown-align-justify table tr:nth-child(even) {
    background: #E7E7E7;
  }
  .markdown-align-justify table thead {
    background: #000000;
    border-bottom: 4px solid #333333;
  }
  .markdown-align-justify table thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
  }
  
  .markdown-align-justify table tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #333333;
  }
  .markdown-align-justify table tfoot td {
    font-size: 14px;
  }